{% extends 'base.html' %}

{% block title %}Панель управления{% endblock %}

{% block content %}
<div class="header">
	<nav class="second-nav">
		<div class="dropdown">
			<button class="dropbtn">Наши клубы
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="{{ url_for('routing.football_page') }}">Футбол</a>
				<a href="{{ url_for('routing.hockey_page') }}">Хоккей</a>
				<a href="{{ url_for('routing.tennis_page') }}">Теннис</a>
				<a href="{{ url_for('routing.volleyball_page') }}">Воллейбол</a>
				<a href="{{ url_for('routing.basketball_page') }}">Баскетбол</a>
			</div>
		</div>
	</nav>
</div>
{% endblock %}