{% extends 'base.html' %}

{% block title %}Футбол{% endblock %}

{% block content %}
	<div class="header">
		<nav class="second-nav">
			<div class="line-block">
				<a href="#teams">Команды</a>
				<a href="#matches">Матчи</a>
				<a href="#awards">Награды</a>
			</div>
		</nav>

		<div class="title-block">
			<h2>Футбол</h2>
		</div>

		<div class="header-content">

			<div class="content-block" id="sport-page">
				<div class="info rounded" id="teams">
					<div class="text-icon">
						<h3>Наши команды</h3>
						<ion-icon name="basketball-outline"></ion-icon>
					</div>
					<ul>
						<li>Asasasa</li>
						<li>SDSDSD</li>
						<li>deadea</li>
						<li>sdsadawd</li>
					</ul>
				</div>
				<div class="info rounded" id="matches">
					<div class="text-icon">
						<h3>Сыгранные матчи</h3>
						<ion-icon name="checkmark-done-outline"></ion-icon>
					</div>
					<ul>
						<li>Asasasa</li>
						<li>SDSDSD</li>
						<li>deadea</li>
						<li>sdsadawd</li>
					</ul>
				</div>
				<div class="info rounded" id="awards">
					<div class="text-icon">
						<h3>Награды сезонов</h3>
						<ion-icon name="trophy-outline"></ion-icon>
					</div>
					<ul>
						<li>Asasasa</li>
						<li>SDSDSD</li>
						<li>deadea</li>
						<li>sdsadawd</li>
					</ul>
				</div>
			</div>
			</div>

		</div>

	</div>
{% endblock %}