{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="header-content">
	<div class="content-block">
		<div class="line-block">
			<div class="logo-holder">
				<img class="main-page-logo" src="{{ url_for('static', filename='assets/logo.png') }}" alt="">
			</div>
			<h2>Спортивные команды Санкт-Петербургского политехнического института: Достижения, Традиции и Будущее</h2>
		</div>
		<p id="main-page-desc">Добро пожаловать на официальный сайт спортивных команд Санкт-Петербургского
			политехнического института! Здесь вы найдете всю информацию о наших достижениях, текущих соревнованиях и
			предстоящих мероприятиях. Мы гордимся нашими спортсменами и тренерами, которые представляют наш университет на
			различных уровнях. Присоединяйтесь к нам, чтобы поддержать команды, узнать о тренировках и стать частью нашей
			спортивной семьи!</p>
		<hr>
		<div class="info">
			<h3>Спортивные традиции СПбПУ</h3>
			<p>Санкт-Петербургский политехнический институт (СПбПУ) гордится своими спортивными традициями, которые
				насчитывают более 100 лет. Мы верим, что спорт — это не только физическая активность, но и важная часть
				образовательного процесса, способствующая развитию командного духа, лидерских качеств и настойчивости. Наша
				цель — создать условия для успешного выступления студентов на соревнованиях различного уровня и поддерживать
				здоровый образ жизни.</p>
		</div>
		<div class="info">
			<h3>Наши спортивные команды</h3>
			<p>В СПбПУ представлены различные виды спорта, включая:</p>
			<ul>
				<li><strong>Футбол</strong>: Наша команда активно участвует в университетских лигах и турнирах.</li>
				<li><strong>Баскетбол</strong>: Мы гордимся нашими достижениями и постоянным ростом уровня игры.</li>
				<li><strong>Волейбол</strong>: Команда регулярно занимает призовые места на региональных соревнованиях.</li>
				<li><strong>Легкая атлетика</strong>: У нас есть сильные спортсмены, которые представляют университет на
					чемпионатах России.</li>
			</ul>
			<p>Каждая команда состоит из талантливых и целеустремленных студентов, готовых к новым вызовам и достижениям.
			</p>
		</div>
	</div>
</div>
</div>

<footer>
	<div class="line-block">
		<div>
			<p>&copy; Pink Phantasm, 2024</p>
			<div class="icon-holder">
				<a href="https://vk.com/polytech_petra"><img src="{{ url_for('static', filename='assets/vk_icon.svg') }}"></a>
				<a href="https://t.me/polytech_petra"><img src="{{ url_for('static', filename='assets/tg_icon.svg') }}"></a>
				<a href="https://www.youtube.com/user/SPBMEDIACENTRE"><img
						src="{{ url_for('static', filename='assets/yt_icon.svg') }}"></a>
				<a href="https://github.com/Nikilireous/Hakaton-Polytech-2024"><img
						src="{{ url_for('static', filename='assets/github_icon.svg') }}"></a>
			</div>
		</div>
		<div>
			<div class="text-icon">
				<ion-icon name="mail-outline"></ion-icon>
				<a href="mailto:support@spbstu.ru">support@spbstu.ru</a>
			</div>
			<div class="text-icon">
				<ion-icon name="call-outline"></ion-icon>
				<a href="tel:8-812-775-05-10">+7 (812) 775-05-10</a>
			</div>
		</div>
	</div>
</footer>
{% endblock %}